/* Resetting default margin and padding for all elements */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Styling the home parent container */
.homeParentDiv {
  display: flex;
  flex-direction: column;
  width: 100%;
}


.footer {
  background-color: #333;
  color: #fff;
  padding: 10px;
  width: 100%;
  text-align: center;
}
